#extends("common:page/layout.vm")

    #block("content")
        <div id="main" style="height:400px"></div>

        #script()
        define('router', function() {
            require(['/app/echarts.js'], function (app) {
                app();
            });
        });
        require(['router']);
        #end
    #end## end content

    #require("amdtest:page/echartsasync.vm")
#end## end extends