#extends("common:page/layout.vm")

    #block("content")
        <div id="main" style="height:400px"></div>

        #script()
        require(['/app/zrender.js'], function (app) {
            app();
        });
        #end
    #end## end content

    #require("amdtest:page/zrender.vm");
#end## end extends